* {
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(218, 180, 218);
    font-family: sans-serif;
padding: 90px 20px 0;

}

.header {
    background-color: rgb(169, 124, 179);
    height:  80px;
    position :fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
max-width: 992px;
margin: 0  auto;
}


.nav-link {
    color: rgb(241, 204, 255);
    text-decoration: none;
}


.logo{
    color: antiquewhite;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;}

.nav-menu{
display: flex;
margin-right: 40px; 
list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
   text-transform: uppercase;
   width: max-content;

}

.nav-link:hover{ 

    background-color:rgb(172, 56, 156) ;
    transition: 0.5s;
}


.nav-link{
    padding: 8px 12px;
    border-radius:3px ;
    
}


legend{
    
    text-align: center;
    width: 80px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(101, 68, 102);
    border-radius: 100px;
}

label{
    background-color: rgb(101, 68, 102);
    color: aliceblue;
    border-radius: 5px;

}





.datos{
    margin-top: 10px;
}

.h3-pregunta{
    margin-top: 20px;
    background-color: rgb(101, 68, 102) ;
    text-align: center;
    color: aliceblue;
    border-radius: 30px;
    margin-bottom: 10px;
}

.si-no{ 
    margin-left: 70px;
    text-align: center;
    background-color:rgb(101, 68, 102) ;
    border-radius: 100px;
   width: 100px;;
}

.h2-necesitas{
    margin-bottom: 20px;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    border-radius: 100px;
    background-color:rgb(101, 68, 102) ;
}

h1{ 
    text-align: center;
    font-size: 25px;
    background-color: rgb(101, 68, 102);
    padding-left: 10px;
    width: 600px;
    border-radius: 50px;
    color: aliceblue;

}

form{
    
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 20px;
    width: min-content;
}


.enviar-borrar{
    background-color: rgb(101, 68, 102);
    color: aliceblue;
    margin-top: 10px;
    border-radius: 100px;
}
.enviar-borrar-correr{
    margin-left: 60px;
}

footer{
    background-color:rgb(218, 174, 218) ;
    padding:50px;
}

.link-footer{
    text-decoration:none;
    font-weight: bold
}


.ul-footer{
    list-style: none;
    
}

.titulo-footer{
    color: antiquewhite;
    background-color: rgb(218, 180, 218);
    height:50px;
    width:100%;
    text-align: center;
    padding: 10px;
}
