* {
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(218, 180, 218);
    font-family: sans-serif;
padding: 90px 20px 0;

}

.header {
    background-color: rgb(169, 124, 179);
    height:  80px;
    position :fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
max-width: 992px;
margin: 0  auto;
}


.nav-link {
    color: rgb(241, 204, 255);
    text-decoration: none;
}


.logo{
    color: antiquewhite;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;}

.nav-menu{
display: flex;
margin-right: 40px; 
list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
   text-transform: uppercase;
   width: max-content;

}

.nav-link:hover{ 

    background-color:rgb(172, 56, 156) ;
    transition: 0.5s;
}


.nav-link{
    padding: 8px 12px;
    border-radius:3px ;
    
}



.boton{
    color: rgb(255, 255, 255);
    background-color:rgb(101, 68, 102);
}



input{
    margin-top: 20px;
}

h2{
    margin-top: 20px;
    background-color:rgb(101, 68, 102);
    padding-left: 10px;
    padding-top: 2px;
    width: 60%;
    height: 35px;
    border-radius: 10px;
}

table{
    color: aliceblue;
    margin-top: 20px;
    background-color:rgb(101, 68, 102);
}

.tabla-compras{
    margin-top: 20px;

}

.texto-principal{
    margin-top: 20px;
    color: rgb(16, 18, 19);
    font-size: 20px;
    margin-bottom: 100px;
}


footer{
    background-color:rgb(218, 174, 218) ;
    padding:50px;
}

.link-footer{
    text-decoration:none;
    font-weight: bold
}


.ul-footer{
    list-style: none;
    
}



.titulo-footer{
    color: antiquewhite;
    background-color: rgb(218, 180, 218);
    height:50px;
    width:100%;
    text-align: center;
    padding: 10px;
}
